<!DOCTYPE html>

<html>
<head>
        <title>This is Peray, Your student budget tracker app!</title>
</head>
<body>

        <h1>Peray, Student Budget tracker</h1>
        
     <form method="POST">
        <input name ="name" placeholder = "Sadiay gipalit nimo?">
        <input name ="amount" placeholder= "Pila pud">
        <button type ="submit" >Add Expense</button>
     </form>

     <h2>Expenses</h2>

     <ul>
        {% for expense in expenses %}
           <li>
                {{ expense.name }} - ${{ expense.amount }}
           </li>=
        {% endfor %}

    </ul>

     
</body>
</html>